<div class="content-heading"> Setting
  <small>
    <a [routerLink]=" ['/home'] ">Dashboard</a> -> Setting</small>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8 ">
    <!-- START panel-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Global</strong> Setting</div>
      <div class="panel-body">
        <form role="form" (ngSubmit)="onSubmitSetting(f)" #f="ngForm">
          <div class="form-group">
            <label>Tax Percent</label>
            <input class="form-control" type="number" name="taxPercent" id="taxPercent" [(ngModel)]="settings.taxPercent"
              placeholder="Enter Tax Percent to Charge" />
          </div>

          <div class="form-group">
            <label>Delivery Fee</label>
            <input class="form-control" type="number" name="deliveryFee" id="deliveryFee" [(ngModel)]="settings.deliveryFee"
              placeholder="Enter Delivery Fee to Charge" />
          </div>
          <div class="form-group">
            <label>Contact Phone</label>
            <input class="form-control" type="string" name="contactPhone" id="contactPhone" [(ngModel)]="settings.contactPhone"
              placeholder="Enter Contact Phone" />
          </div>
          <div class="form-group">
            <label>Enter number of days to cut off orders prior to the delivery date</label>
            <input class="form-control" type="number" name="cutOffNumDaysPriorToDelivery" id="cutOffNumDaysPriorToDelivery" [(ngModel)]="settings.cutOffNumDaysPriorToDelivery"
              placeholder="Number of days days" />
          </div>
          <div class="form-group">
            <label>Max number of orders per delivery date</label>
            <input class="form-control" type="number" name="defaultMaxOrders" id="defaultMaxOrders" [(ngModel)]="settings.defaultMaxOrders"
              placeholder="Max Number of Orders" />
          </div>

          <button class="btn btn-sm btn-success" type="submit">Save</button>
        </form>
      </div>
    </div>
    <!-- END panel-->
  </div>
</div>