<div class="content-heading"> Edit Price Point
  <small>
    <a [routerLink]=" ['/home'] ">Home</a> ->
    <a [routerLink]="['/currencies/all']"> Price Point </a>-> Update Price Point
  </small>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <!-- START panel-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Update</strong> Price Point</div>
      <div class="panel-body">
        <form (ngSubmit)="onUpdateMealPlan(f)" #f="ngForm">
          <div class="row coustom-row">
            <div class="col-md-2">
              <label>Number of Meals Per Week*</label>
            </div>
            <div class="col-md-10">
              <input class="form-control" type="number" placeholder="Number of Meals per Week" name="numMealsPerWeek" id="numMealsPerWeek" [(ngModel)]="mealPlan.numMealsPerWeek"
                required="true" />
            </div>
          </div>
          <br>
          <div class="row coustom-row">
            <div class="col-md-2">
              <label>Price Per Meal*</label>
            </div>
            <div class="col-md-10">
              <input class="form-control" type="number" placeholder="Price Per Meal" name="pricePerMeal" id="pricePerMeal" [(ngModel)]="mealPlan.pricePerMeal"
                required="true" />
            </div>
          </div>
          <div class="row coustom-row">
            <div class="col-md-2">
              <label>Color*</label>
            </div>
            <div class="col-md-10">
              <input class="form-control" type="string" placeholder="Color" name="color" id="color" [(ngModel)]="mealPlan.color"
                required="true" />
            </div>
          </div>
          <br>
          <div class="form-group">
              <div class="col-sm-12 text-right">
                  <button class="btn btn-danger" (click)="cancel()">Cancel</button>&nbsp;&nbsp;
                <button class="btn btn-primary " type="submit" [disabled]="!f.valid">Update
                </button>
                
              </div>
          </div>
        </form>
      </div>
    </div>
    <!-- END panel-->
  </div>
</div>