<div class="content-heading"> Update Menu Items
    <small><a [routerLink]=" ['/home'] ">Dashboard</a> ->
        <a [routerLink]="['/menu/manageItems']"> Menu Items </a>->
        Update Menu Item
    </small>
</div>
<!-- START panel-->
<div class="panel panel-default container">
    <div class="panel-heading">Item Details</div>
    <div class="panel-body">
        <form (ngSubmit)="onSubmitMainItems(f)" #f="ngForm">
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label custom" for="title">Menu Name *</label>
                    <div class="col-sm-10">
                        <div class="panel">
                            <div class="panel-body mh0">
                                <input class="form-control" name="title" id="title" [(ngModel)]="menuItems.title"
                                    type="text" required placeholder="Product Name" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label custom">Menu Description
                    </label>
                    <div class="col-sm-10">
                        <div class="panel">
                            <div class="panel-body mh0">
                                <textarea class="form-control" name="description" id="description"
                                    [(ngModel)]="menuItems.description" required="" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <label class="col-sm-2 control-label custom">Start Showing on
                </label>
                <div class="col-sm-10">
                    <div class="panel">
                        <div class="panel-body mh0">
                            <input class="form-control" type="date" name="menuItemStartDate" id="menuItemStartDate"
                                [(ngModel)]="menuItems.startDate" required="" rows="3">
                        </div>
                    </div>
                </div>

                <label class="col-sm-2 control-label custom">Stop Showing on
                </label>
                <div class="col-sm-10">
                    <div class="panel">
                        <div class="panel-body mh0">
                            <input class="form-control" type="date" name="menuItemEndDate" id="menuItemEndDate"
                                [(ngModel)]="menuItems.endDate" required="" rows="3">
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-2 control-label custom">Category</label>
                    <div class="col-sm-10">
                        <div class="panel">
                            <div class="panel-body mh0">
                                <select class="form-control" name="category" id="category"
                                    [(ngModel)]="menuItems.category" placeholder="select a category">
                                    <option *ngFor="let category of categories" value="{{category.key}}">
                                        {{category.title}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-2 control-label custom">Extra Ingredients *</label>
                    <div class="col-sm-10">
                        <div class="panel">
                            <div class="panel-body mh0">
                                <div class="row">
                                    <div class="col-md-11 added-block"
                                        *ngFor="let extra of menuItems.extraOptions; let i = index"
                                        [attr.data-index]="i">
                                        <div class="col-md-5">
                                            <input class="form-control" type="text" name="name-{{i}}" id="name"
                                                [(ngModel)]="extra.name" placeholder="Extra Ingredients Name" />
                                        </div>
                                        <div class="col-md-5">
                                            <input class="form-control" type="text" name="selected-{{i}}" id="selected"
                                                [(ngModel)]="extra.value" placeholder="Extra Ingredients Price" />
                                        </div>
                                        <div class="col-md-1">
                                            <button class="btn btn-danger" type="button" (click)="removeChoice()">
                                                <em class="fa fa-trash"></em>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <button class="btn btn-sm btn-info plus" type="button" (click)="addNewChoice()">
                                            <em class="fa fa-plus"></em>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- <div class="form-group">
                    <label class="col-sm-2 control-label custom">Price*</label>
                    <div class="col-sm-10">
                        <div class="panel">
                            <div class="panel-body mh0">
                                <div class="row">
                                    <div class="col-md-11 added-block"
                                        *ngFor="let choice of menuItems.price; let i = index" [attr.data-index]="i">
                                        <div class="col-md-5">
                                            <input class="form-control" type="text" name="pname-{{i}}" id="pname"
                                                [(ngModel)]="choice.pname" placeholder="Product Variance (size)" />
                                        </div>

                                        <div class="col-md-5">
                                            <input class="form-control" type="text" name="value-{{i}}" id="value"
                                                [(ngModel)]="choice.value" placeholder="Product Price">
                                        </div>
                                        <div class="col-md-1">
                                            <button class="btn btn-danger" type="button" (click)="removePrice()">
                                                <em class="fa fa-trash"></em>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <button class="btn btn-sm btn-info plus" type="button" (click)="addNewPrice()">
                                            <em class="fa fa-plus"></em>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="form-group">
                    <label class="col-sm-2 control-label custom">Menu Image</label>
                    <div class="col-sm-10">
                        <div class="panel">
                            <div class="panel-body mh0">
                                <label for="image-input" class="file-upload">
                                    <div [hidden]="url !=''">
                                        <img class="img-thumbnail img-width" src="{{menuItems.thumb}}" alt="Image" />
                                    </div>
                                    <div [hidden]="url ==''">
                                        <img class="img-thumbnail img-width" [src]="url" alt="Image" />
                                    </div>
                                    <br>

                                    <button class="btn btn-primary"><em class="fa fa-upload mr"></em> Choose File
                                    </button>

                                    <input id="image-input" type="file" ng2FileSelect [uploader]="uploader"
                                        accept="image/*" (change)="readUrl($event)">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
<br>
                <div class="form-group">
                    <div class="col-sm-12 text-right">
                            <button class="btn btn-danger " (click)="cancel()">Cancel</button>&nbsp;&nbsp;
                            <button class="btn btn-primary " type="submit">Submit</button>
        
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>