<div class="content-heading"> Add Tags
 <small><a [routerLink]=" ['/home'] ">Dashboard</a> ->
          <a [routerLink]="['/tags/all']"> Tags </a>->
            New Tag
 </small>
</div>
<div class="row">
   <div class="col-sm-2"></div>
   <div class="col-sm-8">
   <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading"><strong>New</strong> Tag</div>
         <div class="panel-body">
            <form (ngSubmit)="onSubmitTag(f)" #f="ngForm">
               <div class="form-group">
                  <label>Tag Name*</label>
                  <input class="form-control" type="text" placeholder="Enter Tag Name" name="tag" id="tag" [(ngModel)]="tag.tags"/>
               </div>
               <div class="form-group">
                       <div class="col-sm-12 text-right">
                           <button class="btn btn-danger" (click)="cancel()">Cancel</button>&nbsp;&nbsp;
                        <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                </div>
            </form>
         </div>
      </div>
      <!-- END panel-->
   </div>
</div>