<div class="content-heading">Menu Items
    <div class="pull-right">
        <label for="image-input" class="file-upload">
            <a [routerLink]="'/menu/addItems'">
                <button class="btn btn-warning">
                    <em class="fa fa-plus"></em>&nbsp;&nbsp; Add New Item</button>
            </a>
        </label>
    </div>
    <small>
        <a [routerLink]=" ['/home'] ">Dashboard</a> -> Menu Items </small>
</div>
<!-- <div class="container"> -->
<div class="panel panel-default">
    <div class="panel-heading">Items Details</div>
    <div class="table-responsive b0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="thsearch">
                        Name
                        <form (keyup)="getMenuItems(siteName.value)">
                            <input class="form-control searchinput" type="text" name="siteVal" id="siteVal"
                                [(ngModel)]="siteVal" placeholder="Search" #siteName>
                        </form>
                    </th>
                    <!-- <th class="thnosearch">
                        Offers
                    </th> -->
                    <th class="thnosearch">
                        Start Showing On
                    </th>
                    <th class="thnosearch">
                        Stop Showing on
                    </th>
                    <th class="thnosearch">
                        Currently Shown
                    </th>
                    <!-- <th class="thnosearch">
                        Price
                    </th> -->
                    <th class="thnosearch">
                        View
                    </th>
                    <th class="thnosearch">
                        Edit
                    </th>
                    <th class="thnosearch">
                        Delete
                    </th>


                    <th class="thnoitem"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of menuItems | paginate: { 
                itemsPerPage: 10,
                currentPage: p,
                totalItems: totalMenuLength }">
                    <td>{{item.title}}</td>
                    <td>{{item.startDate}}</td>
                    <td>{{item.endDate}}</td>
                    <td>
                        <span class="fa" [ngClass]="{'fa-check': isItemCurrentlyShown(item)}"></span>
                    </td>
                    <!-- <td>
                        <span class="label label-success" *ngIf="item.offer==true">Yes</span>
                        <span class="label label-warning" *ngIf="!item.offer || item.offer==false ">No</span>
                    </td> -->
                    <!-- <td>{{currency.currencySymbol}}{{item.price[0].value}}</td> -->
                    <td>
                        <button class="btn btn-sm btn-default" type="button" (click)="menuItemShow(item.key)">
                            <em class="fa fa-eye"></em>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-primary" type="button" (click)="menuItemEdit(item.key)">
                            <em class="fa fa-pencil"></em>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-danger" type="button" (click)="menuItemDelete(item.key)">
                            <em class="fa fa-trash-o"></em>
                        </button>
                    </td>
                </tr>

            </tbody>
            <tfoot class="footer">
                <tr>
                    <td colspan="5" class="customPagination text-right">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>

                    </td>
                </tr>
            </tfoot>
        </table>

    </div>

    <div class="panel-footer">
        <div class="row">

        </div>
    </div>
</div>
<!-- </div> -->