<div class="content-heading"> Edit Currency
  <small>
    <a [routerLink]=" ['/home'] ">Home</a> ->
    <a [routerLink]="['/currencies/all']"> Currency </a>-> Update Currency
  </small>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <!-- START panel-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Update</strong> Currency</div>
      <div class="panel-body">
        <form (ngSubmit)="onUpdateCurrency(f)" #f="ngForm">
          <div class="row coustom-row">
            <div class="col-md-2">
              <label>Tag Name*</label>
            </div>
            <div class="col-md-10">
              <input class="form-control" type="text" placeholder="Name" name="currency" id="currency" [(ngModel)]="currency.currencyName"
                required="true" />
            </div>
          </div>
          <br>
          <div class="row coustom-row">
            <div class="col-md-2">
              <label>Tag Name*</label>
            </div>
            <div class="col-md-10">
              <input class="form-control" type="text" placeholder="Symbol" name="symbol" id="symbol" [(ngModel)]="currency.currencySign.symbol"
                required="true" />
            </div>
          </div>
          <br>
          <div class="form-group">
              <div class="col-sm-12 text-right">
                  <button class="btn btn-danger" (click)="cancel()">Cancel</button>&nbsp;&nbsp;
                <button class="btn btn-primary " type="submit" [disabled]="!f.valid">Update
                </button>
                
              </div>
          </div>
        </form>
      </div>
    </div>
    <!-- END panel-->
  </div>
</div>