<div class="content-heading">Testimonials
  <div class="pull-right">
    <label class="file-upload">
      <a [routerLink]="'/testimonials/addTestimonials'"> <button class="btn btn-warning"><em
            class="fa fa-plus"></em>&nbsp;&nbsp; Add New Testimonials</button> </a>
    </label>
  </div><br /><br />
  <small><a [routerLink]=" ['/home'] ">Dashboard</a> -> Testimonials</small>
</div>

<div class="panel panel-default container">
  <div class="panel-heading">Testimonials Details</div>
  <div class="table-responsive b0 customTable">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="thsearch text-center">
            Name
            <form (keyup)="searchTestimonials(siteName.value)">
              <input class="form-control searchinput" type="text" name="siteVal" id="siteVal" [(ngModel)]="siteVal"
                placeholder="Search" #siteName>
            </form>
          </th>
          <th class="thnosearch text-center">
            Edit
          </th>
          <th class="thnosearch text-center">
            View
          </th>
          <th class="thnosearch text-center">
            Delete
          </th>

          <th class="thnoitem"></th>
        </tr>
      </thead>
      <tbody>
        <tr class=" text-center" *ngFor="let item of testimonials | paginate: { 
            itemsPerPage: 20,
            currentPage: p,
            totalItems: testimonialLength }">
          <td>{{item.name}}</td>
          <td class="icons">
            <a (click)="updateTestimonial(item.key)">
              <button class="btn btn-sm btn-primary" type="button">
                <i class="fa fa-pencil"></i>
              </button>
            </a>
          </td>
          <td class="icons">
            <a (click)="viewTestimonial(item.key)">
              <button class="btn btn-sm btn-default" type="button">
                <i class="fa fa-search"></i>
              </button>
            </a>
          </td>
          <td class="icons">
            <button class="btn btn-sm btn-danger delete " type="button" (click)="testimonialDelete(item.key)">
              <i class="fa fa-trash-o"></i>
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot class="footer">
        <tr>
          <td colspan="5" class="customPagination">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </td>
        </tr>
      </tfoot>

    </table>
  </div>

  <div class="panel-footer">
    <div class="row">

    </div>
  </div>
</div>