<div class="content-heading"> Add Currency
  <small>
    <a [routerLink]=" ['/home'] ">Home</a> ->
    <a [routerLink]="['/currencies/all']"> Currencies </a>
    New Currencies
  </small>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <!-- START panel-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>New</strong> Currency</div>
      <div class="panel-body">
        <form (ngSubmit)="onAddCurrency()" #f="ngForm">
          <div class="row">
            <div class="col-md-2">
              <label>Currency Name*</label>
            </div>
            <div class="col-md-10">
              <input class="form-control custom-text" type="text" placeholder="Enter Currency" name="currency" id="currency"
                [(ngModel)]="currency.currencyName" required="true" />
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-2">
              <label>Currency Symbol*</label>
            </div>
            <div class="col-md-10">
              <input class="form-control custom-text" type="text" placeholder="Enter Currency symbole" name="sign" id="sign"
                [(ngModel)]="currency.currencySign.symbol" required="true" />
            </div><br>
            &nbsp; &nbsp; &nbsp;<a href="https://en.wikipedia.org/wiki/Currency_symbol" target="_blank">Currency Symbol List</a>
          </div>
<br>
          <div class="form-group">
              <div class="col-sm-12 text-right">
                  <button class="btn btn-danger " (click)="cancel()">Cancel</button>&nbsp;&nbsp;
                <button class="btn btn-primary " type="submit" [disabled]="!f.valid">Add currency
                </button>
              </div>
          </div>
        </form>
      </div>
    </div>
    <!-- END panel-->
  </div>
</div>