<div class="content-heading">Price Points
    <div class="pull-right">
      <label class="file-upload">
        <a [routerLink]="'/pricePoints/addPricePoints'">
          <button class="btn btn-success">
            <em class="fa fa-plus"></em>&nbsp;&nbsp;Add Price Point</button>
        </a>
      </label>
    </div>
    <small>
      <a [routerLink]=" ['/home'] ">Home</a> -> Price Points
    </small>
  </div>
  
  <div class="waiting-loader" *ngIf="loading == true">
    <i class="fa fa-5x fa-spin fa-spinner" aria-hidden="true"></i>
  </div>
  
  <!-- Zero Configuration-->
  <div *ngIf="loading == false">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading">Manage Price Points</div>
        <div class="panel-body">
          <div class="table-responsive" *ngIf="mealPlans.length >0">
            <table datatable="" class="table table-striped">
              <thead>
                <tr>
                  <th class="wd-md text-center custom">Name</th>
                  <th class="wd-md text-center custom">Number of Meals per Week</th>
                  <th class="wd-md text-center custom">Price per Meal</th>
                  <th class="wd-md text-center custom">Color</th>
                  <th class="text-center">Update</th>
                  <th class="text-center">Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-center" *ngFor="let data of mealPlans ;let i= index ">
                  <td>
                    <a href="">{{data.key}}</a>
                  </td>
                  <td>
                    <a href="">{{data.numMealsPerWeek}}</a>
                  </td>
                  <td>
                    <a href="">{{data.pricePerMeal}}</a>
                  </td>
                  <td>
                    <a href="">{{data.color}}</a>
                  </td>
                  <td class="text-center">
                    <button class="btn btn-sm btn-primary" type="button" (click)="mealPlanEdit(data.key)">
                      <em class="fa fa-pencil"></em>
                    </button>
                  </td>
                  <td class="text-center">
                    <button class="btn btn-sm btn-danger" type="button" (click)="mealPlanDelete(data.key,i)">
                      <em class="fa fa-trash-o"></em>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>