<div *ngIf="activeAddBlock">
	<!-- Add PIN -->
	<div class="content-heading"> Add Zipcode
		<small><a [routerLink]=" ['/home'] ">Dashboard</a> ->
			<a [routerLink]="['/delivery/options']"> Delivery Options </a>->
			Add Delivery Zipcode
		</small>
	</div>
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<!-- START panel-->
			<div class="panel panel-default">
				<div class="panel-heading"><strong>Add</strong>Zipcode</div>
				<div class="panel-body">
					<form (ngSubmit)="onAddPin()" #f="ngForm">
						<div class="form-group">
							<label>City*</label>
							<input class="form-control" type="string" placeholder="City" name="city"
								id="pin" required="" [(ngModel)]="add.city" />
						</div>
						<div class="form-group">
							<label>Zipcodes*(Enter comma seperated list)</label>
							<input class="form-control" type="updatePin" placeholder="Enter comma seperated list of zipcodes" name="updatePin"
								id="pin" required="" [(ngModel)]="add.pincode" />
						</div>
						<div class="form-group">
							<label>Delivery Days for city*(Select all that apply)</label>
							<div *ngFor="let item of deliveryDays; let i = index">
								<input id="deliveryDay-{{i}}" type="checkbox" name="deliveryDay-{{i}}" [(ngModel)]="item.checked"> {{item.label}}
							</div>
						</div>

						<div class="form-group">

							<div class="col-sm-12 text-right">
								<button class="btn btn-danger " (click)="cancelAdd()">Cancel</button>&nbsp;&nbsp;
								<button class="btn btn-primary" type="submit" [disabled]="!isAllRequiredAddFieldsFilledOut()">Submit</button>
							</div>

						</div>
					</form>
				</div>
			</div>
			<!-- END panel-->
		</div>
	</div>
</div><!-- Add PIN Close-->

<div *ngIf="activeUpdateBlock">
	<!-- Update PIN -->
	<div class="content-heading"> Update Zipcode
		<small><a [routerLink]=" ['/home'] ">Dashboard</a> ->
			<a [routerLink]="['/delivery/options']"> Delivery Options </a>->
			Update Zipcode
		</small>
	</div>
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<!-- START panel-->
			<div class="panel panel-default">
				<div class="panel-heading"><strong>Update</strong>Zipcode</div>
				<div class="panel-body">
					<form (ngSubmit)="onUpdatePin()" #f="ngForm">
						<div class="form-group">
							<label>City</label>
							<input class="form-control" type="string" placeholder="City" name="city" disabled
								id="pin" required="" [(ngModel)]="update.city" />
						</div>
						<div class="form-group">
							<label>Zipcodes*(Enter comma seperated list)</label>
							<input class="form-control" type="updatePin" placeholder="Enter comma seperated list of zipcodes" name="updatePin"
								id="pin" required="" [(ngModel)]="update.pincode" />
						</div>
						<div class="form-group">
							<label>Delivery Days for city*(Select all that apply)</label>
							<div *ngFor="let item of deliveryDays; let i = index">
								<input id="deliveryDay-{{i}}" type="checkbox" name="deliveryDay-{{i}}" [(ngModel)]="item.checked"> {{item.label}}
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12 text-right">
								<button class="btn btn-danger " (click)="cancelUpdate()">Cancel</button>&nbsp;&nbsp;
								<button class="btn btn-primary" type="submit" [disabled]="!isAllRequiredUpdateFieldsFilledOut()">Update</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- END panel-->
		</div>
	</div>
</div><!-- Update PIN Close-->

<div *ngIf="activeDataTable">
	<!-- data Table start-->
	<div class="content-heading">Zipcodes
		<div class="pull-right">
			<label for="image-input" class="file-upload">
				<a> <button class="btn btn-success" (click)="activeAdd()"><em class="fa fa-plus"></em>&nbsp;&nbsp;Add
						Zip</button>
				</a>
			</label>
		</div>
		<small><a [routerLink]=" ['/home'] ">Dashboard</a> ->
			Zipcodes
		</small>
	</div>
	<!-- Zero Configuration-->
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<div class="panel panel-default">
			<div class="panel-heading">Manage Delivery Area</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table datatable="" class="table table-striped">
						<thead>
							<tr>
								<th class="wd-md text-center custom">City</th>
								<th class="wd-md text-center custom delivery-options__zipcodes">Zipcodes</th>
								<th class="wd-md text-center custom delivery-options__zipcodes">Delivery Days</th>
								<th class="text-center">Update</th>
								<th class="text-center">Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr class="text-center" *ngFor="let code of allPincodes| paginate: { 
								itemsPerPage: 50,
								currentPage: p,
								totalItems: allPincodeslength }; let i = index">
								<td><a href="">{{code.key}}</a>
								</td>
								<td class="delivery-options__zipcodes"><a href="">{{code.zipCodeList}}</a>
								<td class="delivery-options__zipcodes"><a href="">{{code.deliveryDays}}</a>
								</td>
								<td class="text-center">
									<button class="btn btn-sm btn-primary" type="button"
										(click)="activeUpdate(code.key,i)">
										<em class="fa fa-pencil"></em>
									</button>
								</td>
								<td class="text-center">
									<button class="btn btn-sm btn-danger" type="button" (click)="pinDelete(code.key)">
										<em class="fa fa-trash-o"></em>
									</button>
								</td>
							</tr>
						</tbody>
						<tfoot class="footer">
							<tr>
								<td colspan="5" class="customPagination text-right">
									<pagination-controls (pageChange)="p = $event"></pagination-controls>

								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</div><!-- data Table end-->