<!-- <div class="content-heading">
   <button class="btn btn-primary pull-right" type="button">
      <em class="fa fa-plus-circle fa-fw mr-sm"></em>New Invoice</button>Invoice
</div> -->
<div class="waiting-loader" *ngIf="loading">
    <i class="fa fa-5x fa-spin fa-spinner" aria-hidden="true"></i>
</div>
<div class="container">
<div class="panel" *ngIf="!loading">
    <div class="panel-body">
        <!-- <button class="pull-right btn btn-default btn-sm" type="button">Copy this invoice</button> -->
        <h3 class="mt0">Invoice {{orderDetails.orderId}}</h3>
        <hr/>
        <div class="row mb-lg">
            <div class="col-lg-4 col-xs-6 br pv">
                <div class="row">
                    <div class="col-md-2 text-center visible-md visible-lg">
                        <em class="fa fa-user fa-4x text-muted"></em>
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                            <div class="col-sm-4">Name:</div>
                            <div class="col-sm-8">
                                <strong>{{userDetails.name}}</strong>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">Email:</div>
                            <div class="col-sm-8">
                                <strong>{{userDetails.email}}</strong>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">Phone:</div>
                            <div class="col-sm-8">
                                <strong>{{userDetails.mobileNo}}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 br pv">
                <div class="row">
                    <div class="col-md-2 text-center visible-md visible-lg">
                        <em class="fa fa-truck fa-4x text-muted"></em>
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                            <div class="col-sm-4">Full Name</div>
                            <div class="col-sm-8">
                                <strong>{{address.name}}</strong>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">Address:</div>
                            <div class="col-sm-8">
                                <strong>{{address.address}}</strong>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">City:</div>
                            <div class="col-sm-8">
                                <strong>{{address.city}}</strong>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">ZIP/Post</div>
                            <div class="col-sm-8">
                                <strong>{{address.pincode}}</strong>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">Phone</div>
                            <div class="col-sm-8">
                                <strong>{{address.mobileNo}}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix hidden-md hidden-lg">
                <hr/>
            </div>
            <div class="col-lg-4 col-xs-12 pv">
                <div class="clearfix">
                    <p class="pull-left">INVOICE NO.</p>
                    <p class="pull-right mr">{{orderDetails.orderId}}</p>
                </div>
                <div class="clearfix">
                    <p class="pull-left">Date</p>
                    <p class="pull-right mr">{{orderDetails.createdAt|date}}</p>
                </div>
                <div class="clearfix">
                    <p class="pull-left">Status</p>
                    <p class="pull-right mr">{{orderDetails.status}}</p>
                </div>
            </div>
        </div>

        <hr>
        <div class="panel">
            <div class="panel-heading">Products in order</div>
            <hr>
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Product Name</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Extra Ingredient</th>
                            <th class="text-center">Size / Quantity</th>
                            <th class="text-center">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of orderDetails.cart; let i=index ">
                            <td class="text-center">{{i+1}}</td>
                            <td class="text-center"> {{data.item.title}}</td>
                            <td class="text-center">{{data.item.price.value}}</td>
                            <td>
                                <div class="row" *ngFor="let item of data?.extraOptions ">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-6">
                                        <span>{{item.name}}</span>
                                    </div>
                                    <div class="col-sm-3">
                                        <span>{{currency.currencySymbol}}{{item.value}}</span>
                                    </div>
                                </div>
                                <div class="row" *ngIf=" data?.extraOptions?.length == null ">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-6 text-center">
                                        <span>---</span>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">{{data?.item?.price?.pname}} / {{data.item.itemQunatity}}</td>
                            <td class="text-center">{{data.itemTotalPrice|number}}</td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td class="text-right">
                                <strong>Total :</strong>
                            </td>
                            <td class="text-center">{{currency.currencySymbol}}{{orderDetails.subTotal|number}}</td>
                        </tr>
                        <tr *ngIf="orderDetails?.deductedPrice > 0">
                            <td colspan="4"></td>
                            <td class="text-right">
                                <strong>Coupon Applied :</strong>
                            </td>
                            <td class="text-center">{{currency.currencySymbol}}{{orderDetails.deductedPrice|number}}</td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td class="text-right">
                                <strong>Tax :</strong>
                            </td>
                            <td class="text-center">{{currency.currencySymbol}}{{orderDetails.tax|number}}</td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td class="text-right">
                                <strong>Grand Total :</strong>
                            </td>
                            <td class="text-center">{{currency.currencySymbol}}{{orderDetails.grandTotal|number}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <div class="row ">
                </div>
            </div>
        </div>

        <hr class="hidden-print" />
        <div class="clearfix text-right">
            <button class="btn btn-info " (click)="back()" type="button">Back
            </button>&nbsp;&nbsp;
            <button class="btn btn-success " type="button" onclick="window.print();">Print</button>
            <!-- <button class="btn btn-success pull-right" type="button">Send Invoice</button> -->
        </div>
    </div>
</div>
</div>