<div class="content-heading ">
    Update News
    <small><a [routerLink]=" ['/home'] ">Dashboard</a> ->
           <a [routerLink]="['/categories/manageNews']"> Manage News </a>->
            Update News
    </small>
</div>
<div class="container-md">
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-9">
                <div class="panel b">
                    <div class="panel-heading  text-bold bg-purple-dark">Update News</div>
                    <div class="panel-body">
                       <form (ngSubmit)="onSubmitNews(f)" #f="ngForm">
                            <div class="form-group">
                                <label>Title*</label>
                                <input class="form-control" type="text" required name="title" id="title" [(ngModel)]="newsDetails.title" />
                            </div>
                            <div class="form-group">
                                <label>Author*</label>
                                <input class="form-control" type="text" required name="author" id="author" [(ngModel)]="newsDetails.author" />
                            </div>
                            <div class="form-group">
                                <label>Category*</label>
                                <input class="form-control" type="text" required name="category" id="category" [(ngModel)]="newsDetails.category" />
                            </div>
                            <div class="form-group">
                                <label>Short Description*</label>
                                <textarea class="form-control" rows="2" name="shortDescription" id="shortDescription" required [(ngModel)]="newsDetails.shortDescription" ></textarea>
                            </div>
                            <div class="form-group">
                                <label>Description*</label>
                                <textarea class="form-control" rows="4" name="description" id="description" [(ngModel)]="newsDetails.description" required></textarea>
                            </div>
                            <div class="form-group">
                                <label>Thumb</label>
                                <label for="image-input" class="file-upload">
                                   <div class="col-md-6" [hidden]="url !=''">
                                   <img class=" img-responsive img-thumbnail" src="{{newsDetails.thumb}}"alt="Image" height="70px"/>
                                 </div>
                                  <div class="col-md-6" [hidden]="url ==''">
                                   <img class=" img-responsive img-thumbnail" [src]="url" alt="Image" height="70px"/>
                                 </div>
                                  <div class="col-md-6">
                                    <div class="fileUpload btn btn-primary choose-btn pull-right"><em class="fa fa-upload mr"></em> Choose File</div>
                                    <input id="image-input" type="file" ng2FileSelect [uploader]="uploader" accept="image/*" (change)="readUrl($event)">
                                  </div>
                                </label>
                            </div><br>
                          <div class="form-group">
                              <div class="col-sm-12 text-right">
                                    <button class="btn btn-danger " (click)="cancel()">Cancel</button>&nbsp;&nbsp;
                                    <button class="btn btn-primary " type="submit">Update News</button>
                              </div>
                          </div>

                            <p>
                                <small class="text-muted">* Required Fields</small>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
          </div>
        </div>
